@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-background text-foreground antialiased;
}

.container-main {
  @apply mx-auto w-full max-w-7xl px-4 md:px-8;
}
